.container{
    position: relative;
}

.texts{
    position: absolute;
    top: 20%;
    margin-left: 6em;
}

.texts .title{
    font-size: 6em;
    margin-bottom: 12px;
    color: white;
    font-family: var(--script-font) !important;
    line-height: 1.2em;
}
.texts .desc{
    font-size: 1.6em;
    margin: 6px 0;
    line-height: 1.4em;
    color: white;
    font-family: var(--quick-font) !important;
}
.butlike{
    padding: 0.8em 1.7em;
    font-size: 1.2em;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 0.5em;
    transition: all 0.4s ease-in-out;
}

.aboutsub{
    margin-top: 11em;
    text-align: center;
}

.aboutsub .abttitle{
    font-size: 4.2em;
    margin: 20px 0;
    color: #7D1A54;
    font-family: var(--script-font) !important;
}

.abtdesc{
    font-size: 30px;
    color: rgb(24, 18, 18);
    line-height: 1.4em;
    margin-bottom: 2em;
}

.but{
    margin-top: 2.5em;
}

.like{
    padding: 0.8em 2em;
    font-size: 1.4em;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    color: #7D1A54;
    border: 2px solid #7D1A54;
    border-radius: 0.5em;
    transition: all 0.4s ease-in-out;
}

.sermon{
    padding: 0.8em 1.7em;
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
    background-color: #7D1A54;
    color: white;
    border: none;
    border-radius: 0.5em;
    margin-left: 2em;
}
@media (max-width: 1242px){
    .texts{
        top: 20%;
        margin-left: 4em !important;
    }
    .title{
        font-size: 6em !important;
    }
    .desc{
        font-size: 1.6em !important;
    }
}

@media (max-width: 590px){
    .texts{
        margin-left: 2em !important;
    }
    .title{
        font-size: 3em !important;
    }
    .desc{
        font-size: 0.9em !important;
    }
    .butlike{
        padding: 0.5em 0.8em !important;
        font-size: 1.2em !important;
    }
    .sermon{
        padding: 0.6em 1em !important;
        font-size: 1.2em !important;
    }
    .aboutsub{
        margin-top: 6em;
    }
    .aboutsub .abttitle{
        font-size: 3em;
    }
    .aboutsub .abtdesc{
        font-size: 18px;
        margin-bottom: 2em;
    }
    .like{
        padding: 0.5em 1em;
        font-size: 1em;
    }
}

@media (max-width: 320px){
    .desc{
        font-size: 0.81em !important;
    }
    .aboutsub .abtdesc{
        font-size: 16px;
    } 
   
}





