.container{
    text-align: center;
}

.container .title{
    color: #7D1A54;
    font-size: 4em;
    font-weight: 400;
    padding-bottom: 0.5em;
    font-family: var(--script-font) !important;
}

.container .desc{
    line-height: 1.4em;
    font-size: 1.5em;
    color: rgb(51, 49, 49);
    padding-bottom: 0.5em;
    font-family: var(--quick-font) !important;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 2em;
    margin: 6em 10em;
}
  
.imgContainer {
    flex: 1;
    height: 100%;
    position: relative;
}
  
.image {
    object-fit: contain;
    animation: move 3s infinite ease alternate;
}
  
.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
.input,
.textArea {
    padding: 21px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #1b1a1a;
    border: 2px solid #414040be;
    font-size: 20px;
    font-weight: small;
}

.butlike{
    margin-top: 1em;
    padding: 18px 0;
    width: 40% !important;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #7D1A54;
    color: white;
    border-radius: 0.5em;
    transition: all 0.4s ease-in-out;
}

@media (max-width: 1242px){
    .content {
        margin: 6em 2em;
    }
    .input,
    .textArea {
        padding: 14px;
        font-size: 17px;
        border: 1px solid #1b1a1a;
    }
}

@media (max-width: 900px){
    .container .title{
        font-size: 3.5em;
    }
    .container .desc{
        font-size: 1.2em;
    }
    .img{
        width: 80%;
    }
    .butlike{
        margin-top: 0em;
    }
}

@media (max-width: 580px){
    .content {
        margin: 2em 1.5em;
    }
    .container .title{
        font-size: 2.5em;
    }
    .container .desc{
        font-size: 1em;
    }
    .imgContainer{
        display: none;
    }
    .butlike{
        padding: 14px 0;
        width: 30% !important;
        font-size: 0.8em;
    }
}


