.container{
    text-align: center;
    padding: 5em 0;
}

.container .title{
    color: #7D1A54;
    font-size: 4em;
    font-weight: 400;
    padding-bottom: 0.5em;
    font-family: var(--script-font) !important;
}

.cardTexts .link{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 2em;
    padding: 0;
    font-size: 1.2em;
    color: #7D1A54;
    text-decoration: underline;
    font-weight: 500;
}

.cardTexts .mainTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2em;
    padding-bottom: 2em;
}

.mainTitle .author{
    font-family: var(--script-font) !important;
    font-size: 1.5em;
}
.mainTitle .book{
    font-family: var(--quick-font) !important;
    font-size: 1.2em;
}

.content .grids{
    border: 1px solid #777777;
    padding: 1em 0;
    border-radius: 1em;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 3em;
    column-gap: 1.5em;
    margin: 4em 18.5em;
}
  
.img {
    height: 14.88em;
    width: 95%;
}
.butlike{
    padding: 0.8em 1.7em;
    font-size: 1.4em;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    color: #7D1A54;
    border: 1px solid #7D1A54;
    border-radius: 0.5em;
    transition: all 0.4s ease-in-out;
}

@media (max-width: 1242px){
    .content {
        margin: 6em 2em;
    }
    .input,
    .textArea {
        padding: 14px;
        font-size: 17px;
        border: 1px solid #1b1a1a;
    }
}

@media (max-width: 900px){
    .container{
        padding-top: 2em !important;
        padding-bottom: 8em !important;
    }
    .container .title{
        font-size: 3.5em;
    }
    .container .desc{
        font-size: 1.2em;
    }
    .img{
        width: 95%;
    }
    .butlike{
        margin-top: 0em;
    }
    .content {
        margin: 4em 7.5em;
        grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    }
    .mainTitle .author{
        font-size: 1em;
        margin-left: -2em;
    }
    .mainTitle .book{
        font-size: 0.9em;
        margin-right: -2em;
    }
    .cardTexts .mainTitle{
        margin-left: 2em;
        padding-bottom: 0.5em;
    }
    .cardTexts .link{
        margin-left: 0.2em !important;
    }
    .butlike{
        padding: 0.5em 1em;
    }
}

@media (max-width: 580px){
    .content {
        margin: 2em 1.5em;
    }
    .container .title{
        font-size: 2.5em;
    }
    .container .desc{
        font-size: 1em;
    }
    .imgContainer{
        display: none;
    }
    .cardTexts .link{
        font-size: 1em;
    }
    .butlike{
        padding: 0.5em 1em;
    }
}


