.mainContainer{
    max-width: 1366px;
    margin: 25px 60px;
    padding: 0 60px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: grid;
    margin-top: 0.5em;
    margin-left: 3em;
}

.smallContact{
    display: none;
}

.icon{
    display: none;
    font-size: 3px;
    float: right;
    cursor: pointer;
}

.img{
    height: 55px;
    width: 50px;
}

.cam{
    margin-top: 0.8em;
    font-size: 7.5px;
    margin-left: -1.4em;
}

.nav{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 3.5em;
    font-size: 1.2em;
    margin-top: 25px;
}

.nav .links{
    transition: all 1s ease-out;
    position: relative;
    color: rgb(65, 63, 63) !important;
}

.nav .links:hover{
    color: #bb0f79 !important;
    transition: all 1s ease-out;
}

.nav .links::after{
    content: " ";
    display: grid;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #681b51;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    z-index: -1;
}

.color{
    display: none;
}

.nav .links:hover::after{
    width: 100%;
    left: 0;
}

.contact{
    padding: 0.8em 1.3em;
    font-weight: 500;
    cursor: pointer;
    background-color: #7D1A54;
    color: white;
    border: none;
    border-radius: 0.5em;
}
@media (max-width: 1242px){
    .mainContainer{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        margin: 0;
        padding: 0 3em;
    }
    .logo{
        margin-top: 1.5em;
        margin-left: 2em;
    }
    .nav{
        gap: 25px;
        margin-right: 3.5em;
        font-size: 1em;
        margin-top: 25px;
    }
    .img{
        height: 40px;
        width: 35px;
    }
    .cam{
        margin-top: 0.8em;
        font-size: 6.5px;
        margin-left: -1.4em;
    }
    .contact{
        padding: 0.5em 0.9em;
        cursor: pointer;
        border-radius: 0.5em;
        font-size: 1em;
    }
}

@media (max-width: 840px){
    .mainContainer{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        padding: 0 1em;
        position: relative;
        height: 130px;
    }
    .logo{
        position: absolute;
        top: 50%;
        right: 48%;
    }
    .nav{
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        margin-right: 1.3em;
        gap: 13px;
    }
    .contact{
        display: none;
    }
    .color{
        display: block;
        position: fixed;
        background-color: #7D1A54;
        width: 100%;
        height: 10vh;
        top: 0;
        right: 0;
        z-index: 10;

    }
    .nav .links:hover{
        color: white !important;
        transition: all 1s ease-out;
    }
    
    .nav .links::after{
        content: " ";
        display: grid;
        left: 0;
        bottom: -4px;
        width: 0;
        height: 2px;
        background-color: black;
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
        z-index: -1;
    }    
    .nav .links:hover::after{
        width: 100%;
        left: 0;
    }
    .smallContact{
        display: block;
        position: fixed;
        left: 2%;
        top: 2%;
        z-index: 10;
        padding: 0.5em 1em;
        font-weight: 600;
        cursor: pointer;
        background-color: transparent;
        color: black;
        border: 1px solid black;
        border-radius: 0.5em;
        /* top: 100%; */
    }
    .nav .links{
        font-size: 1em;
        font-weight: 600;
        color: black !important;
    }
}

@media (max-width: 590px){
    .mainContainer{
        padding: 0 0.9em;
    }
    .logo{
        left: 3%;
    }
    .nav{
        right: 3%;
        margin-right: 0;
        font-size: 0.9em;
    }
    .color{
        height: 8vh;
    }
    .smallContact{
        position: absolute;
        top: 72%;
        left: 68%;
        width: fit-content;
        z-index: 0 !important;
        padding: 0.9em 1em;
        font-weight: 500;
        cursor: pointer;
        background-color: #7D1A54;
        color: white;
        border: none;
        border-radius: 0.5em;
    }
}

@media (max-width: 370px){
    .logo{
        position: absolute;
        top: 44%;
        left: 3%;
    }
    .nav{
        right: 0;
        margin-right: 0;
    }
    .nav .links{
        font-size: 0.8em !important;
    }
}

@media (max-width: 320px){
    .smallContact{
        padding: 0.9em 0.9em;
    }
}


