.mainContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7D1A54;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 90%);
    padding-top: 5em;
    padding-bottom: 8em;
    margin-left: 8em !important;
    max-width: 1366px;
    margin: 3em 0;
}

.logo{
    display: grid;
    margin-top: 2.5em;
    margin-left: 3em;
}

.img{
    height: 50px;
    width: 50px;
    margin-left: 0.2em;
    margin-bottom: 0;
}

.cam{
    margin-top: -6em;
    font-size: 7px;
    line-height: 0;
}

.link{
    display: grid;
    margin-top: 2em;
    font-size: 1.1em;
}

.link .links{
    transition: all 1s ease-out;
    position: relative;
    padding: 0.4em 0;
}

.link .links:hover{
    color: #d33a2f;
    transition: all 1s ease-out;
}

.link .links::after{
    content: " ";
    display: grid;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #d33a2f;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    z-index: -1;
}

.link .links:hover::after{
    width: 20%;
    left: 0;
}

@media (max-width: 1242px){
    .container{
        display: grid;
        grid-template-columns: repeat(3, 70%);
        padding-top: 3em;
        padding-bottom: 5em;
        margin-left: 8em !important;
        max-width: 1366px;
        margin: 1em 0;
    }
    .logo{
        display: grid;
        margin-top: 1em;
        margin-left: 2em;
    }    
    .img{
        height: 50px;
        width: 50px;
        margin-left: 0.2em;
        margin-bottom: 0;
    }    
    .cam{
        margin-top: -5.5em;
        font-size: 8px;
        margin-left: -0.8em;
        line-height: 0;
    }    
    .link{
        font-size: 1em;
    }
}

@media (max-width: 900px){
    .container{
        margin-left: 5em !important;
    }
}

@media (max-width: 580px){
    .container{
        display: grid;
        grid-template-columns: repeat(3, 45%);
        margin-left: 0 !important;
    }
    .img{
        height: 40px;
        width: 40px;
    }    
    .cam{
        margin-top: -6.3em;
        margin-left: -1.3em;
    }
    .link .links{
        transition: all 1s ease-out;
        position: relative;
        padding: 0.4em -1em;
    }
}

@media (max-width: 390px){
    .container{
        display: grid;
        grid-template-columns: repeat(1, 100%);
        margin-left: 2em !important;
        padding-top: 2em;
    }
    .logo{
        display: grid;
        margin-top: 1em;
        margin-left: 0.7em;
    }  
    .img{
        height: 45px;
        width: 45px;
        margin-left: -0.1em;
    }    
    .cam{
        margin-top: 1em;
        margin-left: -1.3em;
    }
    .link{
        display: grid;
        row-gap: 2;
    }
}


